<!-- include header -->
<%- include('include/_header') %>
    <!-- /include header -->

    <!-- Main Site -->
    <main id="site-main">
        <div class="container">
            <div class="flex-between">
                <a href="/"><i class="bi bi-chevron-double-left"></i> kembali</a>
            </div>
            <h2>Tambah Stock</h2>

            <!-- add stock form -->
            <%- include('include/_form') %>

        </div>
    </main>
    <!-- /Main Site -->

    <!-- include footer -->
    <%- include('include/_footer') %>
        <!-- /include footer -->